In [1]:
from collections import ChainMap

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import VotingClassifier

from imblearn.under_sampling import RandomUnderSampler
from imblearn.ensemble import EasyEnsembleClassifier

from util import *

In [2]:
x_train, x_test, x_oot, y_train, y_test, y_oot = load_data('var_30.csv')
x_train.head()

,ssn_count_3,fulladdress_count_0,address_count_0,name_dob_count_3,homephone_count_14,name_dob_count_7,name_day_since,ssn_firstname_count_0_by_14,name_count_7,fulladdress_homephone_count_0_by_14,...,ssn_count_0_by_14,ssn_firstname_count_7,ssn_count_7,fulladdress_count_1_by_14,fulladdress_homephone_count_7,ssn_name_dob_count_7,name_count_14,ssn_firstname_count_0_by_30,ssn_lastname_count_0_by_30,ssn_count_14
306501,-0.047591,-0.041351,-0.042158,-0.046415,-0.437943,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
378367,-0.047591,-0.041351,-0.042158,-0.046415,0.135423,2.160209,-2.069505,-7.441340,1.847681,-7.579895,...,-7.320358,2.155610,2.146704,-7.704248,2.121112,2.161066,1.496715,-5.484835,-5.485386,2.021163
716767,-0.047591,-0.041351,-0.042158,-0.046415,-1.011308,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
168813,-0.047591,-0.041351,-0.042158,-0.046415,-0.437943,-0.055801,-1.838510,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
196025,-0.047591,-0.041351,-0.042158,-0.046415,-1.011308,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421

In [5]:
nn = MLPClassifier((100,), learning_rate_init=0.01, tol=1e-4, verbose=1).fit(x_train, y_train)
print(fdr(nn, x_train, y_train))
print(fdr(nn, x_test, y_test))

Iteration 1, loss = 0.05038174
Iteration 2, loss = 0.04766174
Iteration 3, loss = 0.04703244
Iteration 4, loss = 0.04660483
Iteration 5, loss = 0.04653252
Iteration 6, loss = 0.04631301
Iteration 7, loss = 0.04632111
Iteration 8, loss = 0.04614603
Iteration 9, loss = 0.04613789
Iteration 10, loss = 0.04611634
Iteration 11, loss = 0.04601606
Iteration 12, loss = 0.04605107
Iteration 13, loss = 0.04593358
Iteration 14, loss = 0.04598068
Iteration 15, loss = 0.04596665
Iteration 16, loss = 0.04586680
Iteration 17, loss = 0.04594119
Iteration 18, loss = 0.04590215
Iteration 19, loss = 0.04583801
Iteration 20, loss = 0.04588184
Iteration 21, loss = 0.04583452
Iteration 22, loss = 0.04585628
Iteration 23, loss = 0.04583267
Iteration 24, loss = 0.04587819
Iteration 25, loss = 0.04584061
Iteration 26, loss = 0.04584362
Iteration 27, loss = 0.04577649
Iteration 28, loss = 0.04577962
Iteration 29, loss = 0.04576868
Iteration 30, loss = 0.04577248
Iteration 31, loss = 0.04575753
Iteration 32, loss = 0.04573635
Iteration 33, loss = 0.04578812
Iteration 34, loss = 0.04575747
Iteration 35, loss = 0.04578806
Iteration 36, loss = 0.04574454
Iteration 37, loss = 0.04575521
Iteration 38, loss = 0.04576322
Iteration 39, loss = 0.04580177
Iteration 40, loss = 0.04577000
Iteration 41, loss = 0.04581360
Iteration 42, loss = 0.04575549
Iteration 43, loss = 0.04573022
Training loss did not improve more than tol=0.000010 for 10 consecutive epochs. Stopping.
0.5491473878570653
0.5479028697571744

In [4]:
nn = MLPClassifier((50, 50), learning_rate_init=0.01, verbose=1).fit(x_train, y_train)
print(fdr(nn, x_train, y_train))
print(fdr(nn, x_test, y_test))

Iteration 1, loss = 0.04992739
Iteration 2, loss = 0.04691885
Iteration 3, loss = 0.04637179
Iteration 4, loss = 0.04599650
Iteration 5, loss = 0.04589470
Iteration 6, loss = 0.04581550
Iteration 7, loss = 0.04561318
Iteration 8, loss = 0.04567853
Iteration 9, loss = 0.04563079
Iteration 10, loss = 0.04562324
Iteration 11, loss = 0.04552186
Iteration 12, loss = 0.04555629
Iteration 13, loss = 0.04563770
Iteration 14, loss = 0.04546808
Iteration 15, loss = 0.04549284
Iteration 16, loss = 0.04548159
Iteration 17, loss = 0.04553303
Iteration 18, loss = 0.04543795
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
0.5497234573256696
0.5508662816525989

In [6]:
x_train, _, x_oot, y_train, _, y_oot = load_data('var_30.csv', test_size=0)
x_train.head()

,ssn_count_3,fulladdress_count_0,address_count_0,name_dob_count_3,homephone_count_14,name_dob_count_7,name_day_since,ssn_firstname_count_0_by_14,name_count_7,fulladdress_homephone_count_0_by_14,...,ssn_count_0_by_14,ssn_firstname_count_7,ssn_count_7,fulladdress_count_1_by_14,fulladdress_homephone_count_7,ssn_name_dob_count_7,name_count_14,ssn_firstname_count_0_by_30,ssn_lastname_count_0_by_30,ssn_count_14
690152,-0.047591,-0.041351,-0.042158,-0.046415,0.135423,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
175631,-0.047591,-0.041351,-0.042158,-0.046415,-0.437943,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
35431,-0.047591,-0.041351,-0.042158,-0.046415,-1.011308,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
132188,-0.047591,-0.041351,-0.042158,-0.046415,0.135423,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
424967,-0.047591,-0.041351,-0.042158,-0.046415,0.135423,-0.055801,-1.026301,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421

In [10]:
nn = MLPClassifier((25, 25), learning_rate_init=0.01, verbose=0)
params = {'alpha': [1e-5, 1e-4, 1e-3, 5e-3, 1e-2],
          'activation' : ['logistic', 'relu']}
grid = GridSearchCV(nn, params, cv=8, refit='FDR', 
                    verbose=1, n_jobs=8,
                    scoring={'FDR': fdr}).fit(x_train, y_train)

Fitting 8 folds for each of 10 candidates, totalling 80 fits

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:  4.8min
[Parallel(n_jobs=8)]: Done  80 out of  80 | elapsed: 14.6min finished

In [11]:
print(f"The best parameters are {grid.best_params_} "
      f"with a score of {grid.best_score_:0.5f}")
pd.DataFrame(grid.cv_results_).sort_values('rank_test_FDR').filter(
        items=['param_alpha', 'param_activation',
               'mean_test_FDR', 'std_test_FDR',
               'rank_test_FDR', 'mean_test_ROC', 'std_test_ROC'])

The best parameters are {'activation': 'relu', 'alpha': 0.001} with a score of 0.55003

  param_alpha param_activation  mean_test_FDR  std_test_FDR  rank_test_FDR
7       0.001             relu       0.550035      0.011479              1
1      0.0001         logistic       0.547333      0.012216              2
5       1e-05             relu       0.547158      0.012352              3
6      0.0001             relu       0.547158      0.011700              3
2       0.001         logistic       0.546635      0.011939              5
0       1e-05         logistic       0.546112      0.013416              6
9        0.01             relu       0.544456      0.013022              7
3       0.005         logistic       0.543323      0.011408              8
8       0.005             relu       0.543323      0.009564              9
4        0.01         logistic       0.542800      0.011616             10

In [12]:
nn = MLPClassifier((25, 25), learning_rate_init=0.01, verbose=0)
params = {'alpha': [1e-5, 1e-4, 1e-3, 5e-3, 1e-2],
          'activation' : ['logistic', 'relu']}
grid = GridSearchCV(nn, params, cv=8, refit='FDR', 
                    verbose=1, n_jobs=8,
                    scoring={'FDR': fdr}).fit(x_train, y_train)
print(f"The best parameters are {grid.best_params_} "
      f"with a score of {grid.best_score_:0.5f}")
pd.DataFrame(grid.cv_results_).sort_values('rank_test_FDR').filter(
        items=['param_alpha', 'param_activation',
               'mean_test_FDR', 'std_test_FDR',
               'rank_test_FDR', 'mean_test_ROC', 'std_test_ROC'])

Fitting 8 folds for each of 10 candidates, totalling 80 fits

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:  4.8min
[Parallel(n_jobs=8)]: Done  80 out of  80 | elapsed: 14.6min finished

The best parameters are {'activation': 'relu', 'alpha': 0.005} with a score of 0.54925

  param_alpha param_activation  mean_test_FDR  std_test_FDR  rank_test_FDR
8       0.005             relu       0.549250      0.013576              1
6      0.0001             relu       0.548727      0.014365              2
0       1e-05         logistic       0.547943      0.012810              3
1      0.0001         logistic       0.547768      0.011829              4
5       1e-05             relu       0.545764      0.014068              5
7       0.001             relu       0.545502      0.015085              6
3       0.005         logistic       0.544630      0.012248              7
9        0.01             relu       0.544543      0.013698              8
4        0.01         logistic       0.541318      0.011194              9
2       0.001         logistic       0.540708      0.019736             10

In [13]:
nn = MLPClassifier((25, 25), learning_rate_init=0.01, verbose=0)
params = {'alpha': [1e-5, 1e-4, 1e-3, 5e-3, 1e-2],
          'activation' : ['logistic', 'relu']}
grid = GridSearchCV(nn, params, cv=8, refit='FDR', 
                    verbose=1, n_jobs=8,
                    scoring={'FDR': fdr}).fit(x_train, y_train)
print(f"The best parameters are {grid.best_params_} "
      f"with a score of {grid.best_score_:0.5f}")
pd.DataFrame(grid.cv_results_).sort_values('rank_test_FDR').filter(
        items=['param_alpha', 'param_activation',
               'mean_test_FDR', 'std_test_FDR',
               'rank_test_FDR', 'mean_test_ROC', 'std_test_ROC'])

Fitting 8 folds for each of 10 candidates, totalling 80 fits

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:  5.1min
[Parallel(n_jobs=8)]: Done  80 out of  80 | elapsed: 15.7min finished

The best parameters are {'activation': 'relu', 'alpha': 0.0001} with a score of 0.54977

  param_alpha param_activation  mean_test_FDR  std_test_FDR  rank_test_FDR
6      0.0001             relu       0.549773      0.010948              1
1      0.0001         logistic       0.549250      0.011217              2
5       1e-05             relu       0.548466      0.011757              3
0       1e-05         logistic       0.547856      0.011783              4
7       0.001             relu       0.546897      0.011735              5
8       0.005             relu       0.545676      0.012557              6
3       0.005         logistic       0.545241      0.010480              7
9        0.01             relu       0.543933      0.013134              8
2       0.001         logistic       0.542626      0.015572              9
4        0.01         logistic       0.541231      0.010929             10