In [1]:
from collections import ChainMap
from collections import defaultdict

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

from util import load_data, fdr, plot_report
pd.set_option('display.max_rows', 100)

In [2]:
x_train, x_test, x_oot, y_train, y_test, y_oot = load_data('var_30.csv')
x_train.head()

,ssn_count_3,fulladdress_count_0,address_count_0,name_dob_count_3,homephone_count_14,name_dob_count_7,name_day_since,ssn_firstname_count_0_by_14,name_count_7,fulladdress_homephone_count_0_by_14,...,ssn_count_0_by_14,ssn_firstname_count_7,ssn_count_7,fulladdress_count_1_by_14,fulladdress_homephone_count_7,ssn_name_dob_count_7,name_count_14,ssn_firstname_count_0_by_30,ssn_lastname_count_0_by_30,ssn_count_14
581748,-0.047591,-0.041351,-0.042158,-0.046415,1.282153,-0.055801,-1.756544,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
72180,-0.047591,-0.041351,-0.042158,-0.046415,-0.437943,-0.055801,0.598116,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
212705,-0.047591,-0.041351,-0.042158,-0.046415,0.135423,-0.055801,-1.845961,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
644881,-0.047591,-0.041351,-0.042158,-0.046415,-0.437943,-0.055801,-1.875767,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421
578692,-0.047591,-0.041351,-0.042158,-0.046415,0.135423,-0.055801,-1.920476,0.123528,-0.115648,0.120387,...,0.124781,-0.057185,-0.058092,0.123861,-0.057263,-0.055635,-0.159376,0.171472,0.171458,-0.072421

In [3]:
rf = RandomForestClassifier(n_estimators=150,
                            max_depth=20,
                            max_features=10,
                            ccp_alpha=1e-6,
                            min_samples_leaf=2,
                            n_jobs=8).fit(x_train, y_train)

In [4]:
def generate_report(clf, x, y):
    y_prob = clf.predict_proba(x)[:, -1:]
    num_total_fraud = len(y[y==1])
    num_total_record = len(y)
    num_records = int(0.01 * num_total_record)

    sorted_prob = np.asarray(sorted(zip(y_prob, y), key=lambda x: x[0], reverse=True))

    stat = defaultdict(list)
    for i in range(20):
        cutoff_bin = sorted_prob[i*num_records: (i+1)*num_records, 1:]
        stat['records'].append(num_records)
        stat['bads'].append(len(cutoff_bin[cutoff_bin==1]))
        if i == 0:
            stat['total_records'].append(stat['records'][0])
            stat['total_bads'].append(stat['bads'][0])
        else:
            stat['total_records'].append(stat['records'][i] + stat['total_records'][i-1])
            stat['total_bads'].append(stat['bads'][i] + stat['total_bads'][i-1])

    stat = pd.DataFrame(stat)
    stat['percentile_bin'] = range(1, 21)
    stat.set_index('percentile_bin', inplace=True)
    stat['goods'] = stat.records - stat.bads
    stat['percent_goods'] = (stat.goods / stat.records * 100).round(2)
    stat['percent_bads'] = 100 - stat.percent_goods

    stat['total_goods'] = stat.total_records - stat.total_bads
    stat['percent_total_bads'] = (stat.total_bads / num_total_fraud * 100).round(2)
    stat['percent_total_goods'] = (stat.total_goods / (num_total_record - num_total_fraud) * 100).round(2)
    
    cols = ['records', 'goods', 'bads', 'percent_goods', 'percent_bads',
            'total_records', 'total_goods', 'total_bads',
            'percent_total_goods', 'percent_total_bads']
    return stat[cols]

In [5]:
generate_report(rf, x_train, y_train)

,records,goods,bads,percent_goods,percent_bads,total_records,total_goods,total_bads,percent_total_goods,percent_total_bads
percentile_bin,,,,,,,,,,
1,6400,1541,4859,24.08,75.92,6400,1541,4859,0.24,52.87
2,6400,6228,172,97.31,2.69,12800,7769,5031,1.23,54.74
3,6400,6326,74,98.84,1.16,19200,14095,5105,2.23,55.54
4,6400,6334,66,98.97,1.03,25600,20429,5171,3.24,56.26
5,6400,6347,53,99.17,0.83,32000,26776,5224,4.24,56.84
6,6400,6349,51,99.20,0.80,38400,33125,5275,5.25,57.39
7,6400,6351,49,99.23,0.77,44800,39476,5324,6.26,57.93
8,6400,6350,50,99.22,0.78,51200,45826,5374,7.26,58.47
9,6400,6343,57,99.11,0.89,57600,52169,5431,8.27,59.09
10,6400,6348,52,99.19,0.81,64000,58517,5483,9.28,59.66
11,6400,6361,39,99.39,0.61,70400,64878,5522,10.28,60.08
12,6400,6336,64,99.00,1.00,76800,71214,5586,11.29,60.78
13,6400,6340,60,99.06,0.94,83200,77554,5646,12.29,61.43
14,6400,6373,27,99.58,0.42,89600,83927,5673,13.30,61.72
15,6400,6364,36,99.44,0.56,96000,90291,5709,14.31,62.12
16,6400,6356,44,99.31,0.69,102400,96647,5753,15.32,62.59
17,6400,6358,42,99.34,0.66,108800,103005,5795,16.33,63.05
18,6400,6349,51,99.20,0.80,115200,109354,5846,17.34,63.61
19,6400,6353,47,99.27,0.73,121600,115707,5893,18.34,64.12
20,6400,6343,57,99.11,0.89,128000,122050,5950,19.35,64.74

In [6]:
generate_report(rf, x_test, y_test)

,records,goods,bads,percent_goods,percent_bads,total_records,total_goods,total_bads,percent_total_goods,percent_total_bads
percentile_bin,,,,,,,,,,
1,1600,408,1192,25.50,74.50,1600,408,1192,0.26,52.26
2,1600,1565,35,97.81,2.19,3200,1973,1227,1.25,53.79
3,1600,1579,21,98.69,1.31,4800,3552,1248,2.25,54.71
4,1600,1589,11,99.31,0.69,6400,5141,1259,3.26,55.20
5,1600,1586,14,99.12,0.88,8000,6727,1273,4.27,55.81
6,1600,1589,11,99.31,0.69,9600,8316,1284,5.27,56.29
7,1600,1580,20,98.75,1.25,11200,9896,1304,6.27,57.17
8,1600,1589,11,99.31,0.69,12800,11485,1315,7.28,57.65
9,1600,1592,8,99.50,0.50,14400,13077,1323,8.29,58.00
10,1600,1594,6,99.62,0.38,16000,14671,1329,9.30,58.26
11,1600,1589,11,99.31,0.69,17600,16260,1340,10.31,58.75
12,1600,1583,17,98.94,1.06,19200,17843,1357,11.31,59.49
13,1600,1583,17,98.94,1.06,20800,19426,1374,12.32,60.24
14,1600,1592,8,99.50,0.50,22400,21018,1382,13.33,60.59
15,1600,1587,13,99.19,0.81,24000,22605,1395,14.33,61.16
16,1600,1592,8,99.50,0.50,25600,24197,1403,15.34,61.51
17,1600,1582,18,98.88,1.12,27200,25779,1421,16.34,62.30
18,1600,1590,10,99.38,0.62,28800,27369,1431,17.35,62.74
19,1600,1589,11,99.31,0.69,30400,28958,1442,18.36,63.22
20,1600,1590,10,99.38,0.62,32000,30548,1452,19.37,63.66

In [7]:
generate_report(rf, x_oot, y_oot)

,records,goods,bads,percent_goods,percent_bads,total_records,total_goods,total_bads,percent_total_goods,percent_total_bads
percentile_bin,,,,,,,,,,
1,2000,505,1495,25.25,74.75,2000,505,1495,0.26,51.18
2,2000,1944,56,97.20,2.80,4000,2449,1551,1.24,53.10
3,2000,1975,25,98.75,1.25,6000,4424,1576,2.24,53.95
4,2000,1981,19,99.05,0.95,8000,6405,1595,3.25,54.60
5,2000,1984,16,99.20,0.80,10000,8389,1611,4.26,55.15
6,2000,1984,16,99.20,0.80,12000,10373,1627,5.26,55.70
7,2000,1982,18,99.10,0.90,14000,12355,1645,6.27,56.32
8,2000,1983,17,99.15,0.85,16000,14338,1662,7.28,56.90
9,2000,1985,15,99.25,0.75,18000,16323,1677,8.28,57.41
10,2000,1984,16,99.20,0.80,20000,18307,1693,9.29,57.96
11,2000,1979,21,98.95,1.05,22000,20286,1714,10.29,58.68
12,2000,1991,9,99.55,0.45,24000,22277,1723,11.30,58.99
13,2000,1983,17,99.15,0.85,26000,24260,1740,12.31,59.57
14,2000,1983,17,99.15,0.85,28000,26243,1757,13.32,60.15
15,2000,1987,13,99.35,0.65,30000,28230,1770,14.32,60.60
16,2000,1984,16,99.20,0.80,32000,30214,1786,15.33,61.14
17,2000,1985,15,99.25,0.75,34000,32199,1801,16.34,61.66
18,2000,1986,14,99.30,0.70,36000,34185,1815,17.35,62.14
19,2000,1981,19,99.05,0.95,38000,36166,1834,18.35,62.79
20,2000,1989,11,99.45,0.55,40000,38155,1845,19.36,63.16